name: pull-request-workflow
on: 
  pull_request:
    branches:
      - '*'

jobs:
  pull-request-job:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        run: echo hello world
      - name: step2
        run: |
          ehco github action test